
/*Header*/

#header {
    background-color:rgba(0, 0, 0, 0.527);
}

#navbarSupportedContent{
    position: absolute;
    right: 44%;
    color: white;
    
}

.nav-link{
    color: white;
    left: 20%;
    position: sticky;
}
/*Body*/

body {
    background-color: rgba(0, 0, 0, 0.925);
    color: white;
    font-family: "open sans";
}


input[typye="email"] {
    border-bottom-left-radius: 0px;;
    border-bottom-right-radius: 0px;;
}

input[typye="password"] {
    border-top-left-radius: 0px;;
    border-top-right-radius: 0px;;
    border-top: 0px ;
} 



#logo {
    display: block;
    height: 25%;
    width: 30%;
    position: static;
    right: 31%;
    margin-left: 34%;
    margin-top: 20%;
    justify-content: center;
}

.h3 {
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 40px;
}


/* Cards */
.card-body {
    color: black;
}

.col-md-3{
margin-top: 20px;
}

.card-imd-top {
height: fit-content;
}
/* SEARCH AND DROPDOWN MENU */
#navbarDropdown{
    position:fixed;
    left: 90%;
    top: 2%;
    background-color: rgb(247, 15, 15);
    color: rgb(255, 255, 255);
    border-radius: 0%;
    background-blend-mode: multiply;    
}
.dropdown-menu {
    position: sticky;
    left: 49%;
    background-color: rgb(241, 122, 122);
    color: rgb(255, 255, 255);
    border-radius: 0%;
    background-blend-mode: multiply;    
}
.nav-item2 {
    position: fixed;
    right: 2%;
    top: 4%;
}
.d-flex {
    left: 70%;
    position: relative;
}
/* PROFILE PAGE */
.cardprofile {
    position: relative;
    background-color: rgb(255, 83, 83);
    align-items: center;
    height: 60%;
    width: 80%;
    left: 27%;
    border-radius: 5%;
    
}
.card-img-top {
    border-radius: 20%;
    max-height: 120px;
    max-width: 170px;
    margin-left: 37%;
    position:sticky;
}
.btnchanges {
    position: absolute;
    right: 10%;
}